type codinalteparts_sysfs, file_type;
allow system_app codinalteparts_sysfs:file { open getattr read write create lock };
allow init codinalteparts_sysfs:file { open getattr setattr read write create lock };
allow init codinalteparts_sysfs:file relabelto;
allow kernel codinalteparts_sysfs:file relabelto;
allow healthd codinalteparts_sysfs:file { open getattr read };
