# Meticulus : init specific to my modifications

on charger
    # Might as well enable these. No suspend in
    # charging mode.
    write /sys/module/sweep2wake/parameters/enable 1
    write /sys/module/doubletap2wake/parameters/enable 1

    # Needed for date/time in charging mode
    mkdir /data
    mount ext4 /dev/block/mmcblk0p25 /data wait ro
    mkdir /system
    mount ext4 /dev/block/mmcblk0p22 /system wait ro

on post-fs

    # CodinalteParts
    
    chown system system /sys/module/doubletap2wake/parameters/use_wakelock
    chmod 0666 /sys/module/doubletap2wake/parameters/use_waklock

    chown system system /sys/module/doubletap2wake/parameters/enable
    chmod 0666 /sys/module/doubletap2wake/parameters/enable

    chown system system /sys/module/sweep2wake/parameters/use_wakelock
    chmod 0666 /sys/module/sweep2wake/parameters/use_waklock

    chown system system /sys/module/sweep2wake/parameters/enable
    chmod 0666 /sys/module/sweep2wake/parameters/enable

    chown system system /sys/devices/virtual/misc/backlightnotification/enabled
    chmod 0666 /sys/devices/virtual/misc/backlightnotification/enabled

    chown system system /sys/devices/virtual/misc/backlightnotification/blink_mode
    chmod 0666 /sys/devices/virtual/misc/backlightnotification/blink_mode

    chown system system /sys/module/lowmemorykiller/parameters/donotkill_sysproc
    chmod 0666 /sys/module/lowmemorykiller/parameters/donotkill_sysproc

    chown system system /sys/module/lowmemorykiller/parameters/donotkill_sysproc_names
    chmod 0666 /sys/module/lowmemorykiller/parameters/donotkill_sysproc_names

    chown system system /sys/devices/platform/ab8505-i2c.0/ab8500-usb.0/reset
    chmod 0666 /sys/devices/platform/ab8505-i2c.0/ab8500-usb.0/reset

    chown system system /sys/devices/platform/musb-ux500.0/musb-hdrc/mode
    chmod 0666 /sys/devices/platform/musb-ux500.0/musb-hdrc/mode

    chown system system /sys/module/board_codina_sdi/parameters/wlan_mac
    chmod 0666 /sys/module/board_codina_sdi/parameters/wlan_mac

    # PerformanceControl
